.slider-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.slider-img {
    width: 100%;
    display: none;
}

.slider-img.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}